SMTP_EMAIL=
SMTP_PASSWORD=

APP_URL=
AUTH_URL=

GOOSE_DBSTRING="host=localhost user=postgres password=postgres dbname=queyk sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./internal/adapters/postgresql/migrations

AWS_ENDPOINT_URL_S3=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
